body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: rgb(61, 60, 60)
}

.clock-tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 45vh;
  width: auto;
}

.clock {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 4px whitesmoke;
  margin-top: 20px;
}

.second-hand {
  grid-column: 2 / 3;
  display: inline-flex;
  height: 90px;
  width: 2px;
  background-color: rgba(173, 28, 231, 0.87);
  transform-origin: 0 100%;
  margin-top: 10px;
  margin-left: 100px;
}

.minute-hand {
  grid-column: 2 / 3;
  display: inline-flex;
  height: 80px;
  width: 2px;
  margin-left: -10px;
  transform-origin: 0 100%;
  background-color: rgb(211, 211, 16);
}

.hour-hand {
  grid-column: 2 / 3;
  display: inline-flex;
  transform-origin: 0 100%;
  height: 50px;
  width: 4px;
  margin-left: -5px;
  background-color: rgb(25, 135, 204);
}

.center {
  grid-column: 2 / 3;
  display: inline-flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: whitesmoke;
  margin-left: -12px;
  margin-bottom: -8px;
  opacity: 100%;
  position: relative;
}

h1 {
  grid-column: 2 / 3;
  grid-row: 2;
  color: whitesmoke;
  justify-self: center;
  font-family: 'Aboreto', cursive;
}

.amOrPm {
  color: rgba(245, 245, 245, 0.568);
  grid-row: 1;
  grid-column: 2;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}

