body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: #282828;
}

.clock-tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 45vh;
  width: auto;
  background-color: #282828;
}

.clock {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 4px #282828;
  margin-top: 20px;

  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
              inset 4px 4px 10px rgba(0,0,0,0.5),
              inset -4px -4px 10px rgba(67,67,67,0.5),
              4px 4px 10px rgba(0,0,0,0.3);
}

.second-hand {
  grid-column: 2 / 3;
  display: inline-flex;
  height: 90px;
  width: 2px;
  background-color: rgba(173, 28, 231, 0.87);
  transform-origin: 0 100%;
  margin-top: 10px;
  margin-left: 100px;
  transition: none;
}

.minute-hand {
  grid-column: 2 / 3;
  display: inline-flex;
  height: 80px;
  width: 2px;
  margin-left: -10px;
  transform-origin: 0 100%;
  background-color: rgb(211, 211, 16);
}

.hour-hand {
  grid-column: 2 / 3;
  display: inline-flex;
  transform-origin: 0 100%;
  height: 50px;
  width: 4px;
  margin-left: -5px;
  background-color: rgb(25, 135, 204);
}

.center {
  grid-column: 2 / 3;
  display: inline-flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: whitesmoke;
  margin-left: -12px;
  margin-bottom: -8px;
  opacity: 100%;
  position: relative;
}

h1 {
  grid-column: 2 / 3;
  grid-row: 2;
  color: rgb(201, 201, 201);
  justify-self: center;
  font-family: 'Aboreto', cursive;
  margin-top: 55px;
}

.amOrPm {
  color: rgb(97, 96, 98);
  grid-row: 1;
  grid-column: 2;
  margin: auto;
  margin-bottom: 30px;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
  font-size: 25px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: 0.7s;
  object-fit: cover;
}

.clock:hover > * {
  opacity: 1;
}

.day {
  grid-column: 2 / 3;
  grid-row: 2;
  color: rgb(201, 201, 201);
  justify-self: center;
  font-family: 'Aboreto', cursive;
  font-size: 25px;
}